@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';

@import 'components/global';
@import 'components/title';
@import 'components/btn';
@import 'components/layout';

@import 'components/header';
@import 'components/hero';
@import 'components/home-page/second';
@import 'components/home-page/mission';
@import 'components/home-page/areas';
@import 'components/home-page/benefit';

.banner {
    margin-top: 100px;
    @media (max-width: 767px) {
        margin-top: 48px;
    }
    &-img {
        width: 100%;
        height: 475px;
        object-fit: cover;
        @media (max-width: 767px) {
            height: 360px;
        }
    }
}