.second {
    margin-top: 40px;
    overflow: hidden;
    &-title {
        max-width: 460px;
        @media (max-width: 576px) {
            font-size: 16px;
        }
        @media (max-width: 839px) {
            font-weight: 400;
            max-width: unset;
        }
    }
    &-btn {
        margin-top: 40px;
        @media (max-width: 839px) {
            margin-top: 20px;
            width: 100%;
        }
    }
    &-img {
        @media (min-width: 1440px) {
            margin-right: -80px;
        }
        @media (min-width: 1260px) {
            margin-right: -140px;
        }
        @media (max-width: 1259px)  {
            margin-right: -40px;
        }
        @media (max-width: 839px)  {
            margin-right: -20px;
            margin-left: -20px;
        }
        img {
            width: 100%;
            max-width: 818px;
            height: 568px;
            object-fit: cover;
            @media (max-width: 1023px) {
                height: 380px;
            }
            @media (max-width: 839px)  {
                height: 260px;
            }
        }
    }
    &-block {
        @media (max-width: 839px)  {
            text-align: center;
        }
    }
}