.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid var(--clr-300);
    padding: 13px 24px;
    text-align: center;
    &--rounded {
        border-radius: 55px;
        padding: 10px 12px;
    }
    &--orange {
        background: var(--clr-300);
        color: var(--clr-100);
        &:hover {
            color: var(--clr-400);
        }
    }
}