.header {
    background-color: var(--clr-200);
    padding: 12px 0;
    @media (max-width: 767px) {
        padding: 7px 0;
    }
    &-side {
        display: flex;
        column-gap: clamp(4px,.7vw,10px);
        align-items: center;
        white-space: nowrap;
    }
    &-lang {
        font-size: clamp(12px,3vw,18px);
        &-item {
            &--active {
                color: var(--clr-300);
            }
        }
    }
    &-overlay {
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        height: 100vh;
        width: 100vw;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        z-index: 99;
        &--active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        max-width: 136px;
        @media (max-width: 767px) {
            max-width: 76px;
        }
    }
    &-middle {
        display: flex;
        align-items: center;
        column-gap: 20px;
        .btn {
            min-width: 140px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &-number {
        font-weight: 400;
        font-size: 18px;
        white-space: nowrap;
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    &-menu {
        position: relative;
        max-height: 30px;
        &-icon {
            padding: 0px;
            appearance: none;
            background-color: transparent;
            border: 0;
            max-width: 30px;
            svg {
                pointer-events: none;
                * {
                    transition: all .3s;
                }
            }
            &:hover {
                svg {
                    pointer-events: none;
                    * {
                        fill: var(--clr-400)
                    }
                }
            }
            &[data-menu-icon=close] {
                margin-left: auto;
                display: block;
            }
        }
        &-dropdown {
            position: fixed;
            right: 0;
            top: 0;
            background-color: var(--clr-100);
            padding: 33px 80px 33px 60px;
            width: 447px;
            transform-origin: top right;
            transform: scale(.6);
            opacity: 0;
            transition: all .5s;
            z-index: 100;
            visibility: hidden;
            min-height: 409px;
            box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.25);
            @media (max-width: 767px) {
                width: 100%;
                padding: 20px 40px;
                min-height: 350px;
            }
            &--active {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
        }
        &-list {
            margin-top: 40px;
            list-style-type: none;
            padding: 0;
        }
        &-item, &-item a{
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        &-item {
            &:not(:first-child) {
                margin-top: 29px;
            }
        }
    }
}
