.layout {
    &-grid {
        display: grid;
        grid-template-columns: 542px 1fr;
        &.ai-center {
            align-items: center;
        }
        @media (max-width: 1120px) {
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width: 839px) {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }
    &-col {

    }
}