.title {
    &--large {
        font-weight: 600;
        font-size: 58px;
        line-height: 70px;
    }
    &--big {
        font-weight: 500;
        font-size: 36px;
        line-height: 142%;
    }
}