.title {
    &--large {
        font-weight: 600;
        font-size: 56px;
        line-height: 120%;
        @media (max-width: 1240px) {
            font-size: clamp(20px, 5vw, 50px);
        }
    }
    &--big {
        font-weight: 500;
        font-size: 32px;
        line-height: 142%;
        @media (max-width: 1240px) {
            font-size: clamp(20px, 3vw, 32px);
        }
    }
    &-icon {
        @media (min-width: 767px) {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;
        }
        @media (max-width: 768px) {
            margin-bottom: 12px;
        }
    }
}